@charset "utf-8";
/* CSS Document */

body {
  margin-top: 0;
  background-color: #fff;
  direction: ltr;
}

/* Base font settings (global) */
body, td, th {
  font-family: arial,sans-serif;
  font-size: 13px;
}

input {
  font-size: 13px;
}

img {
  border: 0;
}

form {
  margin: 0;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 0;
}

h1 a {
  font-size: 0.8em;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  font-size: 1.0em;
  padding-bottom: .5em;
  padding-top: 0px;
  margin: 1.5em 0 .5em 0;
}

h2 a {
  font-size: 1.0em;
  font-weight: normal;
}

h3 {
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0;
}

h4 {
  font-size: 1.0em;
  margin: 0.5em 0 0.5em 0;
}

h5 {
  font-size: 1.0em;
  margin: inherit;
  font-weight: normal;
  _margin-bottom: 0;
}

h6 {
  font-size: inherit;
  margin: inherit;
  font-weight: inherit;
}

th h3,
th h4 {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  color: #0000cc;
}

a:visited {
  color: #551a8b;
}

input {
  font-family: Arial, Helvetica, sans serif;
}

select {
  font-family: Arial, Helvetica, sans serif;
}

button {
  font-family: Arial, Helvetica, sans serif;
}

.header {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 30px;
  padding-left: 4px;
  border-bottom: 1px solid #dbe6de;
}

.headerTable {
  width: 100%;
  margin-bottom: .5em;
  _margin-bottom: 0;
}

.headerTable table#googleLogo {
  height: 43px;
  margin: .25em 0;
  vertical-align: top;
}

.headerTable table#googleLogo img {
  vertical-align: bottom;
  width: 103px;
  margin: 0;
  display: block;
}

.headerTable table#googleLogo #logoTop td {
  font-size: 20px;
  font-weight: normal;
  color: #676767;
}
.headerTable table#googleLogo #logoTop img {
  height: 31px;
}

.headerTable table#googleLogo #logoBottom img {
  vertical-align: top;
  height: 12px;
}

.headerTable table#googleLogo td {
  vertical-align: bottom;
  line-height: 0.8em;
  padding: 0;
  margin: 0;
}

.headerTable table#googleLogo a {
  color: #777;
  text-decoration: none;
}

.headerTable hr {
  height: 6px;
  background-color: #D5DFF3;
  border-width: 0;
  border-top: thin solid #3366CC;
}

.headerBlock {
}

.conversion {
  font-size: 0.75em;
}

.accountInfo {
  float: right;
  font-size: 1em;
  white-space: nowrap;
  margin-top: .25em;
  padding-top: 2px;
}

.gaiabox {
  background-color: #ffffff;
  border: #c3d9ff 1px solid;
  width: 100%;
  margin-bottom: 10px;
}

.gaiabox td {
  background-color: #e8eefa;
  vertical-align: top;
  font-size: 1em;
}

.lbox {
  background-color: #ffffff;
  border: #c3d9ff 1px solid;
  width: 100%;
  margin-bottom: 10px;
}

.lbox td {
  background-color: #e8eefa;
  vertical-align: top;
  padding: 5px;
  text-align: center;
}

.errormsg, .errorheader {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 1em;
  color: red;
  text-align: left;
}

.error, .errorbox-bad {
  border: solid 1px red;
  padding: 5px;
}

#copyright {
  width: 100%;
  border-top: 1px solid #3366CC;
  margin: 1em auto 0 auto;
  padding-top: 1em;
  text-align: center;
}

#copyright #legal {
  color: #6f6f6f;
  font-size: smaller;
}

.upload {
  background-color: #fafafa;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.data {
  border-collapse: collapse;
  border: 1px solid #BFC7D9;
  margin-top: 3px;
  width: 100%;
  _word-wrap: break-word;
}

.data td,
.data th {
  border-bottom: 1px solid #BFC7D9;
  text-align: left;
  padding: 3px;
}

.data th {
  background: #e8eef7;
  font-weight: normal;
}

.partnersitedata {
  border-collapse: collapse;
  border: 1px solid #BFC7D9;
  margin-top: 3px;
  width: 100%;
  padding: 5em;
}

.partnersitedata td {
  border-bottom: 1px solid #BFC7D9;
  padding: 3px;
}

.link {
  font-family: arial,sans-serif;
  font-size: 1em;
  color: #0000cc;
  background-color: transparent;
  padding: 0px 0px;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.formatlabel {
  text-transform: uppercase;
  color: green;
  font-size: 0.83em;
}

.errorlabel {
  text-transform: uppercase;
  color: red;
  font-size: 0.83em;
}

.sitemapdetail {
  background-color: #efefef;
  border: 1px solid #BFC7D9;
  margin: 0.5em;
  vertical-align: top;
}

.sitemapdetail td {
  border: none;
  white-space: nowrap;
  padding-bottom: 0.5em;
}

.blue {
  background-color: #d8e4f1;
  border: 1px solid #336699;
}

.red {
  background-color: #ffdfdf;
  border: 1px solid #aa1002;
}

.green {
  background-color: #ddf1d8;
  border: 1px solid #339966;
}

.ltgrey {
  background-color: #e9e9e9;
}

.newgreen {
  background-color: #3366CC;
  border: 1px solid #ddad08;
}

.maingreen {
  background-color: #D5DFF3;
  border: 1px solid #BFC7D9;
}

.maingreen th {
  text-align: left;
  border-bottom: 1px solid #bfc7d9;
}

.maingreen th h3 {
  font-size: 1.0em;
}

.maingreen th h3,
.maingreen th h4,
.maingreen th h5,
.maingreen th h6 {
  margin: 0;
}

.message {
  margin: 5px;
  border: 2px solid #3366CC;
  width: 85%;
}

.verifybox {
  padding: 5px;
  border: 1px solid #BFC7D9;
  white-space: normal;
  width: 85%;
  font-family: Courier New, monospace;
  overflow: auto;
  /* @noflip */ direction: ltr;
  text-align: left;
}

.yellow {
  background-color: #fefade;
  border: 1px solid #ddad08;
}

.tutorial table {
  width: 800px;
  margin: 0.5em;
}

.tutorial tr {
  vertical-align: top;
}

.tutorial td {
  padding-bottom: 0.5em;
}

.tutorialtext {
  width: 200px;
  padding-right: 1.5em;
  padding-top: 4px;
}

.domain_url {
}

div.inactiveTabText {
  border-left: 1px solid #c6ced7;
  border-right: 1px solid #c6ced7;
  padding: 0px 0px 2px;
  color: black;
  white-space: nowrap;
}

div.inactiveTabText a:link, dif.inactiveTabText a:visited {
  text-decoration: none;
  color: black;
}

div.activeTabText a:link, div.activeTabText a:visited {
  text-decoration: none;
  color: white;
}

div.activeTabText {
  padding: 0px 0px 2px;
  color: white;
  white-space: nowrap;
  font-weight: bold;
  border: 0px;
}

div.tab1 {
  height: 4px;
  background: url(../../images/ulborder.gif) no-repeat top left;
}

div.tab2 {
  height: 4px;
  background: url(../../images/urborder.gif) no-repeat top right;
  padding: 0px 4px;
}

div.inactive3 {
  border-top: 1px solid #c6ced7;
}

table.mainTabs {
  border-bottom: 1px solid rgb(221, 173, 8);
  padding: 0px;
}

table.crumbs {
  background-color: #dbe6de;
  color: #000;
  padding: 4px;
}

.crumbs {
  background-color: #fff;
  color: #000;
  width: 100%;
}

.appLocation {
  padding: 4px;
}

.crumbsActiveText {
  font-weight: bold;
}

.crumbsInactiveText {
}

td.crumbs {
  padding: 4px;
}

.maincontent {
  width: 100%;
}

#dashboard_list table {
  width: 100%;
}

#dashboard_list #new_user_intro {
  margin-top: 1em;
  font-weight: bold;
}

#dashboard_list #new_user_intro blockquote {
  margin-top: .5em;
  margin-left: 1em;
  line-height: 1.5em;
  font-weight: normal;
}

#dashboard_list h3 {
  margin-bottom: 0px;
}

.verifycontent {
  width: 100%;
}

.verifystatus {
  display: block;
  padding: 10px;
  border: 1px solid #dbe6de;
  white-space: normal;
  background-color: #fafafa;
  margin-right: 70px;
  float: left;
}

.topcontent {
  text-align: right;
  vertical-align: middle;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  background-color: #c2ccc5;
}

.framedcontent {
  padding: 10px;
  border-color: #c2ccc5;
  border-style: solid;
  border-width: 1px;
  _width: 100%;
}

.rightcontent {
  vertical-align: top;
  padding: 0 10px 30px 0;
  color: #000;
}

.rightcontent table.overview {
  padding: 0;
  border-width: 0;
}

.rightcontent table.overview td {
  vertical-align: top;
  width: 24em;
}

.rightcontent table.overview p {
  font-size: 1.1em;
  margin: 0em;
  margin-right: 4em;
  border: 0 solid #8f8;
}

.rightcontent table.overview p.desc {
  font-size: 1em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  padding-top: 0;
  border: 0 solid #88a;
}

#unverifiedPage .rightcontent table.overview .verifiedOnly p.desc,
#unverifiedPage .rightcontent table.overview .verifiedOnly .inactive_indent {
  color: #676767;
}

.clear {
  clear: both;
}

.wrapper {
  width: 100%;
}

h1.page_title {
  font-size: 1.65em;
  margin-bottom: 0;
}


#site_selector_area {
  margin-bottom: 1em;
}

img#triangle {
  width: 12px;
  height: 9px;
}

#site_selector_area h2 {
  color: #3366CC;
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  padding: 3px 3px 3px 0px;
  position: relative;
  top: 1px;
  height: 1.4em;
  float: left;
  border-width: 1px 1px 0px 1px;
  border-color: #fff;
  border-style: solid;
  cursor: pointer;
}

#site_selector_area h2#selectorHandle:hover {
  background-color: #D5DFF3;
}

#site_selector_area h2.selected {
  margin-left: -3px;
  padding-left: 3px;
  background-color: #fff;
  border-color: #3366CC;
  border-bottom: 0;
  color: black;
  z-index: 99;
}

#site_selector_area #selector_list {
  display: none;
  height: 10.1em;
  overflow: auto;
  overflow-x: hidden;
  clear: both;
  margin-bottom: 2em;
  margin-left: -3px;
  _position: relative;
  z-index: 1;
  padding-left: 3px;
  border: 1px solid #3366CC;
}

#site_selector_area a {
  display: block;
  line-height: 1.7em;
  font-size: 1em;
  color: #000;
}

#site_selector_area a:hover {
  color: blue;
  background-color: #D5DFF3;
}

.rightcontent p {
  margin-left: 0px;
  margin-right: 0px;
}

.rightcontent h1 {
  font-size: 1.65em;
}

a.no_link:link, a.no_link:visited {
  text-decoration: none;
  background-color: #3366CC;
  color: #fff;
  border-bottom: thin solid #3366CC;
}

hr.yellow {
  height: 2px;
  border: 0;
  width: 100%;
  color: #ddad08;
  background-color: #ddad08;
}

hr.blue {
  height: 2px;
  border: 0;
  width: 100%;
  color: #336699;
  background-color: #336699;
}

hr.red {
  height: 2px;
  border: 0;
  width: 100%;
  color: #aa1002;
  background-color: #aa1002;
}

hr.darkgreen {
  height: 2px;
  border: 0;
  width: 100%;
  color: #3366CC;
  background-color: #3366CC;
}

hr.lightgreen {
  height: 2px;
  border: 0;
  width: 100%;
  color: #dbe6de;
  background-color: #dbe6de;
}

div.indent {
  _width: 100%;
  margin-left: 3em;
}

p.indent {
  padding-left: 3em;
}

.siteExample {
  font-weight: bold;
  color: #000;
}

.example {
  font-size: smaller;
  font-style: italic;
  font-weight: normal;
  color: #000;
}

table.margins {
  margin: 1em;
}

div.margins {
  padding: 1.5em;
}

table.simple {
  border-collapse: collapse;
  width: auto;
}

td.spacer {
  padding: 0;
  padding-left: 2em;
  padding-right: 2em;
}

thead.maingreen {
  background-color: #D5DFF3;
  color: #000;
  border: 1px solid #BFC7D9;
}

thead.yellow {
  background-color: #fefade;
  color: #000;
  border: 1px solid #BFC7D9;
}

thead.blue {
  background-color: #d8e4f1;
  color: #000;
  border: 1px solid #BFC7D9;
}

thead.red {
  background-color: #ffdfdf;
  color: #000;
  border: 1px solid #BFC7D9;
}

thead.green {
  background-color: #dbe6de;
  color: #000;
  border: 1px solid #BFC7D9;
}

div.fixedwidth {
  width: 800px;
}

td.maingreen,
td.darkgreen,
td.red,
td.blue,
td.green,
td.yellow,
td.gray {
  height: .8em;
  border: none;
  padding: 0;
}

td.maingreen {
  background-color: #D5DFF3;
}

td.darkgreen {
  background-color: #3366CC;
}

td.red {
  background-color: #aa1002;
}

td.blue {
  background-color: #336699;
}

td.green {
  background-color: #339966;
}

td.yellow {
  background-color: #ddad08;
}

td.gray {
  background-color: #BFC7D9;
}

.addpaddingleft {
  padding-left: 2em;
}

.addpaddingright {
  padding-right: 2em;
}

.wizardBox {
  padding: 15px 15px 0px 16px;
}

.siteNameBig {
  font-weight: bold;
  font-size: 1.3em;
  float: left;
  margin-top: 15px;
  margin-bottom: 3px;
  border: 1px solid #BFC7D9;
  background-color: #fafafa;
  padding: 5px;
}

.furtherLinks {
  margin-bottom: .2em;
}

.learnMoreBlock {
  margin-top: 1.5em;
}

.learnMoreBlock .header {
  font-weight: bold;
  color: #496b9b;
  font-size: 1em;
}

.instructionSteps {
  float: left;
  padding: 5px;
  margin-bottom: 0.5em;
}

.instructionSteps .step.even {
  background-color: #fafafa;
  padding: 9px;
}

.instructionSteps .step {
  margin: 0;
  padding: 9px;
  background-color: #e8eef7;
}

.instructionSteps .step .div {
  background-color: transparent;
  margin-left: 16px;
}

.submitBtnBlock {
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both;
}

.searchOptionBox {
  padding: 5px;
  margin: 0px;
}

.searchResultsBox {
  margin: 0;
}

.searchResults {
  padding: 5px;
}

.statsSubTitle {
  margin: 0;
  color: #777;
  font-weight: bold;
  margin-bottom: 0.25em;
  padding: 5px;
  border-bottom: 1px solid #c6d7cf;
}

.statsDescription {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* global download link style */
.downloadLink {
  margin: 3px;
}

.downloadLink img {
  vertical-align: middle;
  margin-right: 3px;
}

.reverifyItem {
  margin-top: .25em;
}

.submitButtonArea {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.softNote {
  color: #333;
  font-size: 0.9em;
}

.verifyExtended {
  font-weight: bold;
}

.reverifyErrorBox {
  padding: 7px;
  border: 2px solid #336666;
  margin-bottom: 1em;
}

.statusMsg {
  padding: 3px 3px 3px 30px;
  background-image: url('../../images/check_soft.gif');
  background-repeat: no-repeat;
  background-position: left;
  color: #000;
}

.statusMsg.warn {
  color: #000;
  background-image: url('../../images/warning_soft.gif');
}

div.statusMsg.pending {
  color: #000;
  background-image: url('../../images/pending_soft.gif');
}

.statusMsg .gotoLink {
  margin-top: 0.5em;
}

.statusMsg.problem {
  background-image: url('../../images/redex_soft.gif');
}

.statusMsg.top {
  background-position: top left;
}

.nextSteps {
  background-color: #efefef;
  padding: 5px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.nextSteps div {
  margin-bottom: 1em;
}

.nextSteps b {
  color: #555;
  display: block;
  margin-bottom: 1em;
}

.actionRow div {
  float: left;
  padding-right: 1em;
  margin-top: .2em;
}

.actionRow .dashboardDL {
  border-left: 1px solid #ddd;
  padding-top: .25em;
  padding-left: 1em;
  padding-bottom: .25em;
}

.dashboardDL img {
  vertical-align: middle;
  margin-right: 3px;
}

.bigDownload {
  margin: 2em 0 2em 0;
}

.bigDownload img {
  vertical-align: middle;
  margin-right: 3px;
}

.nowrap {
  white-space: nowrap;
  _white-space: pre;
}

/* Basic table */

.basicTable {
  border-collapse: collapse;
}

.basicTable td {
  padding: 0;
  margin: 0;
  border: 0;
}

.dlPageItem {
  padding: 8px 4px 8px 4px;
}

.dlPageItem .linkDesc {
  padding-left: 20px;
  color: #444;
}

.dlPageItem img {
  margin-right: 3px;
  vertical-align: middle;

}

.tableTitle {
  margin-bottom: .5em;
  margin-top: 1em;
  font-weight: bold;
}

.nonPreferredSite {
  padding: 6px;
  background-color: #efefef;
  color: #666;
  margin-bottom: 0.5em;
}

.applicationTitle {
  font-weight: bold;
  font-size: 1.5em;
}

.summarylinks {
  line-height: 1.5em;
}

.summary td {
  border-bottom: 1px solid #BFC7D9;
}

.summary {
  border: 1px solid #BFC7D9;
  margin-bottom: 1em;
}

.smaller {
  font-size: smaller;
}

td.summlabel {
  background-color: #E0EBFF;
  width: 180px;
}

.summary thead td {
  padding: 5px;
  border-bottom: 1px solid #BFC7D9;
  font-weight: normal;
}

.black {
  color: #666
}

tr.totalrow td {
  background-color: #E0EBFF;
}

tr.totalrow td.numeric {
  padding-left: 33px;
}

.infotip {
  text-align: left;
  width: 80%;
  margin-bottom: 1.5em;
  padding: 5px 10px 5px 34px;
  border: 1px solid #a7a772;
  background: #ffffd9 url('../../images/bulb.gif') no-repeat left;
}

.summarysiteline {
  margin-bottom: .25em;
}


/* Dropdown styles */

.dropdownHeader {
  float: right;
  position: absolute;
  cursor: pointer;
  right: 14px;
}

.btn {
  float: left;
  position: relative;
  text-decoration: none;
  color: #333;
  outline: none;
  font-size: 1em;
}

.btn1 {
  background: #ddd url("../../images/bg-btn.png") repeat-x 0 0;
  display: block;
  margin: 0 1px;
  border: solid #aaa;
  border-width: 1px 0;
}

.btn2 {
  display: block;
  position: relative;
  margin: 0 -1px;
  border: solid #aaa;
  border-width: 0 1px;
}

.btn .text {
  display: block;
  padding: 2px 7px;
  border: 1px solid;
  border-color: #fff #eee #ddd;
}

.dropdn .text {
  background: url("../../images/icon-dropdn.gif") no-repeat 100% 50%;
  padding-right: 17px;
  white-space: nowrap;
}

.btn:hover .btn1 {
  border-color: #9cf #7af #69e;
}

.btn:hover .btn2 {
  border-color: #9cf #7af;
}

.btn:hover .text {
  border-color: #9cf #7af #69e;
}

.btn:active {
  color: #000;
}

.btn:active .btn1, .btn:active .btn2 {
  background-position: 0 -6px;
}

.dropdownContent {
  padding: 3px;
  background-color: #fafafa;
  float: right;
  border: 1px solid #aaa;
  position: absolute;
  z-index: 999;
  right: 14px;
}

.dropdownContent a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.ieframe {
  z-index: 998;
}

.dropdownContent a:visited {
  color: black;
}

.dropdownContent a:hover {
  background-color: #c3d9ff;
}

/* public url removal */

.urlRemovalPage .headerTable {
  margin-bottom: 1px;
}

.urlRemovalPage .header {
  background-color: #e5ecf9;
  border-top: 1px solid #3366cc;
  color: #000;
  padding: 3px;
}

.urlRemovalPage .pageContent {
  margin-top: 1em;
}

.urlRemovalPage .appLocation {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  margin-left: 15px;
}

.urlRemovalPage .accountInfo {
  margin-top: 11px;
}

.urlremoveform dl {
  overflow: auto;
}

.urlremoveform dt {
  float: left;
  clear: both;
  margin: 0 8px 0 0;
}

.urlremoveform dd {
  margin: 2px 0 1.5em 0;
  float: left;
  width: 80%;
}

.urlremoveform dd label {
  margin-bottom: 0.1em;
}

.urlremoveform dd strong {
  display: block;
}

.wizardButtons {
  margin-top: 2em;
  clear: right;
}

.wizardButtons span.nextStep input {
  font-weight: bold;
}

.removalContent {
  padding-left: 20px;
  padding-right: 20px;
}

.removalContent .section {
  margin-bottom: 1.5em;
}

.removalContent .example {
  font-size: 1em;
  font-style: normal;
}

.removalContent .section .example {
  font-style: normal;
  font-size: 1em;
  margin-top: 0.1em;
}

.help {
  font-style: normal;
  padding-left: 1em;
  font-size: 1em;
}

.helptooltip {
  white-space: nowrap;
  font-weight: normal;
}

.helptooltip a {
  text-decoration: none;
}

.removalfooter {
  background-color: #e5ecf9;
  text-align: center;
  padding: 4px;
  color: #666;
  margin-top: 2em;
}

.removalContent .errorbox-bad {
  margin-top: .5em;
  color: #000;
  border: 0;
}

.removalContent .secondaryBox {
  padding-top: 0em;
  clear: both;
}

.removalContent .errorheader {
  margin-bottom: 1em;
}

.wizardButtons {
  height: 40px;
  margin-top: 1em;
}

.wizardButtons input {
  float: left;
  margin-right: 7px;
}

.removalContent .emailfield {
  width: 400px;
}

.removalContent .urlfield {
  width: 450px;
}

.removalContent .termsfield {
  width: 450px;
}

.removalContent .example {
  width: 450px;
}

.softExtra {
  color: red;
  font-size: 1.0em;
}

/* public url removal status table*/

.tbcorners {
  background: #c3d9ff url('../../images/tr.gif') no-repeat top right;
  height: 4px;
  padding: 0;
}

.tbheader {
  background-color: #c3d9ff;
  border-bottom: 1px solid #BFC7D9;
  padding: 1px 5px 5px 5px;
  overflow: auto;
  _height: 1%;
}

.tbfooter {
  padding: 0px 5px 0px 0px;
  background: #c3d9ff url('../../images/br.gif') no-repeat bottom right;
}

tr#holder td {
  color: #666;
  font-style: italic;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
}

table#removals tbody tr td {
  padding: 4px;
  border-bottom: 1px solid #d0d0d0;
}

table#removals tr th {
  background-color: #efefef;
  border-bottom: 1px solid #BFC7D9;
  padding: 4px;
  text-align: left;
}

table#removals tbody tr.d td {
  background-color: #ffffcc;
  border-bottom: none;
}

table#removals tbody tr.dreason td {
  background-color: #ffffcc;
  padding-top: 0;
}

.denied {
  color: #990000;
}

.pending {
  color: #b98b00;
}

.removed {
  color: #3366CC;
}

table#removals .error {
  padding: 2em;
  color: red;
  text-align: center;
}

.nodata {
  padding: 2em;
  color: #333;
  text-align: center;
}

.tabs {
  overflow: auto;
  _height: 1%;
}

.tabs a {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  background-color: #E5EEFF;
  border-color: #BFC7D9;
  margin-right: 7px;
  padding: 4px 8px 4px 8px;
  display: block;
  float: left;
  color: #000;
  text-decoration: none;
}

.tabs a:hover {
  
}

.tabs a.active {
  background-color: #C5D4F0;
  font-weight: bold;
}

/* webmaster url removal */

.removalTableContainer {
  width: 100%;
  _clear: left;
}

.removalTableContainer .tableBody {
  width: 100%;
  border-collapse: collapse;
}

.removalTableContainer .tableBody th {
  background-color: #E0EBFF;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #BFC7D9;
  padding: 7px;
  margin: 0;
  text-align: left;
}

.removalTableContainer .tableBody td {
  margin: 0;
  padding: 7px;
  border-bottom: 1px solid #BFC7D9;
}

.pagination {
  text-align: right;
  padding: 7px;
}

.removalTableContainer .actions {
  background-color: #c5d4f0;
  width: 100%;
}

.date {
  white-space: nowrap;
}

.urlItem {
  width: 97%;
  overflow: hidden;
  display: block;
  padding-right: 7px;
}

.sidebox {
  width: 200px;
  background-color: #E0EBFF;
  border: 1px solid #dbe6de;
  padding: 4px;
  text-align: left;
  margin-left: 20px;
}

.sidebox ul {
  margin: 0 0 .5em 8px;
  padding: 0;
  list-style-type: none;
}

.sidebox ul li {
  padding-bottom: 1em;
  padding-left: 12px;
  background: url("../../images/bullet.gif") no-repeat top left;
}

.removalList {
  color: black;
  width: 100%;
}

.removalList table {
  width: 100%;
}

.removalList tbody tr.row td {
  border-bottom: 1px solid #BFC7D9;
  padding: 5px;
  margin: 0;
}

.removalList .url {
  width: 100%;
  overflow: hidden;
  display: block;
  white-space: pre;
}

.removalList .action {
  text-align: right;
}

.removalList span {
  display: block;
}

.removalList .type {
  color: #666;
  font-size: .8em;
  white-space: nowrap;
}

.removalList .errMsg {
  clear: both;
  color: red;
  padding-top: 3px;
}

.removalList .noUrls {
  font-style: italic;
  text-align: center;
  color: #666;
  padding: 5px;
}

#url_removal_create_page .topBox {
  border: 1px solid #D5DFF3;
  padding: 5px;
  margin-bottom: 1em;
}

#url_removal_create_page #url_prompt {
  margin-bottom: 1em;
  padding: 5px;
}

#url_removal_create_page #url_entry {
  overflow: auto; 
  _height: 1%; 
  margin: .5em 0;
}

#url_removal_create_page #url_entry_inner {
  background-color: #D5DFF3; 
  padding: 5px; 
  white-space: nowrap; 
  float: left;
}

#url_removal_create_page #url_entry_inner input {
  width: 300px;
}

#url_removal_create_page #link_kind {
  margin: .5em 0;
}

#url_removal_create_page #link_kind label {
  display: inline;
}

#url_removal_create_page #content_to_remove {
  border: 1px solid #D5DFF3;
  margin-top: 1em;
}

#url_removal_create_page #content_to_remove_inner {
  padding: 5px; 
  background-color: #D5DFF3; 
  font-weight: bold; 
  color: black;
}


.urlRemovalStatus {
  white-space: nowrap;
}

.urlRemovalStatus form {
  display: inline;
}

.rri td {
  color: #000;
}

.pending td.status {
  color: #b98b00;
}

.denied td.status {
  color: #990000;
}

.removed td.status {
  color: #3366CC;
}

.expired td.status {
  color: #666;
}

.cancelled td {
  color: #888;
}

.msg {
  background-color: #fad163;
  width: 80%;
  margin: 1em auto;
  padding: 0;
}
.msg .mtop {
  background: url("../../images/ctr.gif") no-repeat top right;
  text-align: left;
  overflow: hidden;
  font-size: 1px;
}

.msg .mbot {
  background: url("../../images/cbr.gif") no-repeat top right;
  text-align: left;
  overflow: hidden;
  font-size: 1px;
}

.mbody {
  padding: 2px 5px;
  text-align: center;
  font-weight: bold;
}

.bluebox {
  background-color: #e8eefa;
  border: 1px solid #BFC7D9;
  padding: 10px;
}

.addr_label_col {
  white-space: nowrap;
}

.addr_input_col {
  width: 25em;
}

.addr_form td {
  padding-bottom: 0.7em;
}

.messageCenterSubject {
  font-size: 1.25em;
}

#addSiteBar {
  background-color: #D5DFF3;
  border: 1px solid #BFC7D9;
  padding: 3px;
}

.commentArea {
  font-family: Arial, Helvetica, sans serif;
}

.sep {
  color: #888;
}


#sitelinks table#top_text,
#sitelinks #confirmationPanel  {
  max-width: 600px;
}

#sitelinks table#top_text td {
  width: 300px;
  vertical-align: top;
}

#sitelinks #confirmationPanel,
#sitelinks .formPanel {
  background-color: #fff;
  border: thin solid #BFC7D9;
  padding: 5px 10px;
  margin: 10px 0;
}

#sitelinks #confirmationPanel {
  border: 2px solid #3366CC;
}

#sitelinks #tooFew {
  background-color: #fff;
  border: 3px solid red;
  padding: 5px 10px;
  margin: 0 0 10px 0;
}

#sitelinks .formPanel {
  display: none;
}

#sitelinks #confirmationPanel p,
#sitelinks .formPanel p {
  margin: .25em auto .35em auto;
  font-size: 1.1em;
  font-weight: bold;
}

#sitelinks #confirmationPanel div,
#sitelinks .formPanel div {
  margin-left: 0em;
}

#sitelinks .formPanel div#buttons {
  text-align: left;
}

#sitelinks .formPanel div#comments_box {
  padding: 1.0em 0;
}

#sitelinks #confirmationPanel #wassent td {
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif;
  padding: 2px;
}

#sitelinks .sitelinksList {
}

#sitelinks .sitelinksList h3 {
  font-size: 1.2em;
}

#sitelinks .sitelinksList .sitelink,
#sitelinks .sitelinksList .sitelink_blocked {
  line-height: 155%;
}

#sitelinks .sitelinksList .sitelink span {
  color: #418C41;
}

#sitelinks .sitelinksList .sitelink span.action,
#sitelinks .sitelinksList .sitelink_blocked span.action {
  color: #000;
}

#sitelinks .sitelinksList .sitelink_blocked,
#sitelinks .sitelinksList .sitelink_blocked a {
  color: #676767;
}

#sitelinks .sitelinksList .sitelink_blocked span.action a {
  color: #0000cc;
}

#sitelinks a#blockedSitelinksLink {
  display: block;
  padding-top: .5em;
}

#sitelinks #blockedExplanation {
  padding-top: .5em;
}

#sitelinks #blockedListExplanation {
  width: 600px;
  padding-bottom: .5em;
}

#sitelinks #blockedSitelinks h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

#sitelinks td {
  vertical-align: top;
}

#sitelinks img {
  border: 0;
}

#sitelinks img#example {
  display: block;
  width: 300px;
  height: 123px;
  padding-left: 1em;
}

#sitelinks img#checkmark {
  width: 22px;
  height: 22px;
  padding-right: 10px;
}

#sitelinks #no_sitelinks {
  padding-top: 20px;
  font-size: 1.0em;
}

#sitelinks #no_sitelinks a {
  padding-left: 1em;
}

#sitelinks p.active_indent,
#sitelinks p.active_indent a {
  display: inline;
  border: 0;
  padding: 0;
  background-color: white;
  color: blue;
  text-decoration: underline;
}

#sitelinks textarea.comment {
  width: 100em;
}

#sitelinks  {
  border-width: 0px;
  margin-bottom: 0px;
}

#sitelinks #requestShowHideLink {
  display: block;
}

#sitemaps-overview div#crawl-index-header {
  font-weight: bold;
}

.backlinksTargetUrl {
  white-space:nowrap;
  font-weight:bold;
}

#sectionContent {
  clear: both;
  margin-top: 3px;
}

.clear {
  clear: both;
}

.lightBulbMsg {
  background: #ffffd9 url("../../images/bulb.gif") no-repeat left;
  padding: .4em .4em .4em 40px;
  border: 1px solid #a7a772;
  width: 85%;
  margin: 1em 1em 1em 0;
}

.currentSpeed {
  background-color: #E8EEF7;
  padding: .5em;
  margin-top: 1em;
}

.currentSpeed i {
  font-style: normal;
}

.currentSpeed p {
  margin: 0;
  padding: 0;
}

.currentSpeed .info {
  margin-top: 0.5em;  
}

.currentSpeed .info .example {
  font-style: italic;
  font-size: .85em;
  margin-top: 0.5em;
  display: block;
}

.currentSpeed h3 {
  margin: 0;
  padding: 0;
  display: inline;
}

.newSpeed {
  padding: .5em;
}

.newSpeed i {
  font-style: normal;
  display: block;
}

.backlinks_columnheaders {
  background-color: #D5DFF3;
  font-weight: bold;
}

.backlinks_linkcount {
  background-color: #C3D9FF;
}

.backlinks_actions {
  background-color: #C3D9FF;
}

.backlinks_find {
  background-color: #C3D9FF;
}

.backlinks_navrow {
  background-color: #C3D9FF;
}

.backlinks_nav {
  background-color: #C3D9FF;
}

.goBackLink {
  float: left;
  padding: 0 2em 0 1.25em;
  font-weight: bold;
}

.findLinkRowShow {
  text-align: left;
  display: table-cell;
}

.findLinkRowHide {
  text-align: left;
  display:  none;
}

.messageRange {
  float: right;
  padding-top: 0.2em;
}

.sectionWithSpace {
  padding-bottom: 1em;
}

#sitemap-index-table {
  padding-top: 1em;
}

#sitemap-crawl-errors-table {
  padding-top: 1em;
}

#sitemap-details h3 {
  font-size: 1.2em;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

#sitemap-details .tabular .actions {
  padding-left: 0;
}

#sitemap-problems table.data td.line-number {
  text-align: center;
}

#sitemap-problems div {
  padding-top: 1em;
}

.smallColumn {
  width:0%
}

.largeColumn {
  width:40%
}

.contentDetail div.pagination {
  float: right;
  padding: 0.5em 0 0.5em 0;
}

.contentDetail .zipped .zippedsection_div {
  line-height: 1.5em;
  padding: 0.5em .5em .5em 1em;
}

.contentDetail .zipped a {
  text-decoration: none;
  color: #000;
  padding-right: 2em;
  display: block;
}

.contentDetail .zipped a img {
  float: left;
  display: block;
  margin-top: 0.2em;
}

.contentDetail .zipped a font {
  margin-left: 11px;
  display: block;
}

.contentDetail .zipped .zippedsection_div a {
  text-decoration: underline;
  color: #0000cc;
  display: block;
}

/** Gadget Promo */
table.gadgetpromo {
  border: 1px solid #CDCCFF;
  margin-bottom: 1em;
  padding: 2px;
  width: 30em;
}

table.gadgetpromo .midBtn {
  background: transparent url("../../images/button_mid.gif") repeat-x scroll 0%;
  padding: 0 10px 4px;
}

.midBtn a, 
.midBtn a:visited {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

table.gadgetpromo img.promo {
  display: none;
}

table.gadgetpromo img {
  border: 0;
}

a#add_one_gadget {
  float: right;
}

.callToAction {
  background: #e5ecf9;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 0.25em;
}

.callToAction b {
  font-weight: bold;
  font-size: 1em;
}

#survey_div {
  margin-bottom: 1em;
  padding: 0.5em;
  background: url("../../images/yellowgradback.png") repeat-x #ffffd1;
  border: 1px solid #e7e7e7;
  clear: both;
}

#survey_div .msg {
  background: transparent;
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  float: left;
  width: 90%;
}

#survey_div a.dismiss {
  float: right;
  vertical-align: top;
  display: block;
  padding-left: 1em;
}

/** Sitelinks example */

#sitelinks #center #example h3 {
  display: inline;
  margin: 0;
  color: #6666e0;
  text-decoration: underline;
  font-size: medium;
  font-weight: bold;
}

#sitelinks #center {
  text-align: center;
}

#sitelinks #center #example {
  border: 1px solid #bbb;
  border-width: 1px 2px 2px 1px;
  margin: .25em auto;
  text-align: left;
  padding: .5em;
  width: 35em;
  font-family: arial, sans-serif; 
  color: #666666;
}

#sitelinks #center #example #result {
  width: 34em;
}

#sitelinks #center #example #result #summary {
  position: relative;
}

#sitelinks #center #example #result #summary #arrow {
  position: absolute;
  left: -4em;
  top: 3em;
  text-align: center;
  width: 6em;
  font-weight: bold;
  background: #fff;
}

#sitelinks #center #example #result #snippet {
  font-size: small;
  color: #666666;
}

#sitelinks #center #example #result #summary #url {
  color: #66c266;
  font-size: small;
}

#sitelinks #center #example #result #summary .glinks {
  color: #adade0;
  font-size: small;
  text-decoration: underline;
}

#sitelinks #center #example #result #summary #links .slink {
  color: #6666e0;
  font-size: small;
  text-decoration: underline;
}

#sitelinks #center #example #result #links td {
  padding-top: 5px;
  padding-left: 40px;
  vertical-align: top;
  font-size: 84%;
}

#sitelinks #center #example #result #links div {
  text-indent: -10px;
  padding-left: 10px;
}

#sitelinks #center #example #result #summary #links #right-links td {
  padding-left: 20px;
}

/** Robots.txt Generator */

#rgen-tool .rgen-steps {
  padding-left: 20px;
  margin: 0.3em 0 0.8em;
}

#rgen-tool .rgen-step-title {
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

#rgen-tool #rules-table .maingreen td {
  font-weight: bold;
}

#rgen-tool #rules-table { 
  border-collapse: collapse;
  border: 1px solid #bfc7d9;
  margin-top: 10px;
  width: 95%;
   _word-wrap: break-word; 
}

#rgen-tool #rules-table td {
  border-bottom: 1px solid #bfc7d9;
  padding: 3px; 
}

#rgen-tool .rgen-add-disabled {
 color: #cccccc;
}

#rgen-tool .rgen-error-field {
  color: #990000;
}

#rgen-tool .rgen-error-box {
  padding: 4px; 
}

#rgen-tool div.rgen-error-border {
  border: 2px solid #990000;
  margin: 0px;
  padding: 3px;
}

#rgen-tool .rgen-error-title {
  color: #990000;
  font-weight: bold;
}

#rgen-tool .rgen-add-disabled {
  color: #cccccc;
}

#rgen-tool div.rgen-entry-box {
  margin: 0px;
  padding: 3px;
  border: 2px solid #3366cc;
  background: #d4dff3;
}

#rgen-tool .rgen-err-value {
  padding-left: 2em;
  font-weight: bold;
}

#rgen-tool div#download-box {
  margin: 0.5em 0 0.5em;
}

#rgen-tool select#rgen-rule-useragent {
  width: 150px;
}

#rgen-tool #download-box p {
  margin-top: 0.3em;
}

.messageRange .value {
  font-weight: bold;
}

#dashboard_list .value {
  font-weight: bold;
}

.arrowedText {
  white-space: nowrap;
}

.arrowedText .arrow {
  font-size: 1em;
}
body.custom404 div.widgetBox {
  margin-top: 0.5em;
  width: 500px;
}

body.custom404 div.languageSelector {
  margin-top: 2em;
  margin-bottom: 1em;
}

body.custom404 div.languageSelector h4 {
  display: inline;
}

body.custom404 div.codesample {
  line-height: 1.5em;
}

body.custom404 div.preview a#previewZip-anchor {
  font-weight: bold;
}

body.custom404 div.preview div#previewZipdiv {
  margin-top: 1em;
}

body.custom404 div.preview {
  margin-top: 2em;
  border-top: 1px solid #ddd;
  padding: 0.5em;
}

body.custom404 div.exampleArea {
  background-color: #ccc;
  border: 1px solid #ddd;
  background-image: url("../../images/diag_back_example.gif");
  padding-bottom: 2em;
  width: 50em;
  margin: 1em 1em 1em 2em;
}

div.codesnippet {
  padding: 0.25em;
  background-color: #fafafa;
  border: 1px solid #aaaaff;
}

div.codesnippet div {
  overflow: auto;
}

div.codesnippet textarea {
  font-family: Courier New, Courier, Monospace;
  white-space: pre;
  font-size: 1em;
  width: 100%;
  display: block;
  background: #fafafa;
  border: 0;
  color: black;
}

div.no-javascript {
  border: 1px solid #000;
  background-color: #e6af49;
  padding: 0.5em;
  color: #000;
  font-weight: bold;
}

.verifyPage .meta-example-code {
  font-family: Courier New, Courier, Monospace;
  font-size: 1.2em;
  padding: 3px;
  background: #fafafa;
  border: 1px solid #aaaaff;
  overflow: auto;
  margin-top: 0.5em;
  width: 85%;
  /* @noflip */ direction: ltr;
  text-align: left;
}

.verifyPage .meta-example-code .indent {
  margin-left: 1em;
  width: inherit;
}

.verifyPage .meta-example-code table {
  border-collapse: collapse;
}

.verifyPage .meta-example-code table td {
  padding: 0;
  margin: 0;
  color: #666;
}

.verifyPage .meta-example-code table td b {
  color: #000;
}

.verifyPage .meta-example-code .extraline {
  margin-bottom: 1em;
}

.verifyPage .meta-example-code .explain {
  color: #3f7c5f;
  text-align: right;
  font-weight: bold;
  direction: ltr;
}

.verifyPage .meta-example-code .range  {
  border-top: 1px solid #3f7c5f;
  border-bottom: 1px solid #3f7c5f;
  border-right: 0;
  border-left: 1px dotted #3f7c5f;
  width: 11px;
  background: #eef;
  margin-left: 8px;
  height: 95%;
}

span.timestamp {
  color: #777;
  margin-right: 1em;
  font-size: 13px; /* fixed size */
  font-weight: normal;
  display: inline;
}

body.crawlErrors div.errorCategories a {
  float: left;
  display: block;
  padding: 0 0.75em 0 0em;
  margin: 0 0.75em 0.5em 0;
  color: #0000cc;
  white-space: nowrap;
  border-right: 1px solid #000;
  font-size: 1em;
}

body.crawlErrors div.errorCategories a.selected {
  color: #000;
  text-decoration: none;
}

body.crawlErrors div.errorCategories a.last {
  border-right: 0;
}

body.crawlErrors div.errorCategories {
  margin-bottom: 0.5em;
}

body.crawlErrors .bodyContent h3 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body.crawlErrors .griddata td.leftmost {
  width: 70%;
}

body.crawlErrors .nodata {
  background: #fff;
  border-bottom: 1px solid #bfc7d9;
}

body.messagesPage #listHeader {
  text-align: left;
  padding-bottom: .1em;
  border-bottom: 2px solid #3366CC;
}

body.messagesPage #messageHeader {
  text-align: left;
  border-width: 0;
}

body.messagesPage #listHeader #displayCount {
  float: right;
}

body.messagesPage #listHeader #navLink a {
  text-decoration: none;
  font-weight: bold;
}


body.messagesPage #messageHeader #navLink a {
  font-weight: bold;
}

body.messagesPage #listFooter,
body.messagesPage #messageFooter {
  text-align: left;
  padding-top: .5em;
}

body.messagesPage #listFooter {
  border-top: 1px solid #3366CC;
}

body.messagesPage #listHeader #messageRange {
}

body.messagesPage table.messages {
  margin: .1em 0 .25em 0;
  padding: 0;
  width: 100%;
}

body.messagesPage table.messages tr.unread {
  font-weight: bold;
}

body.messagesPage table.messages a {
  text-decoration: none;
}

body.messagesPage table.messages a:hover {
  text-decoration: underline;
}

body.messagesPage table.messages td.date {
  text-align: right;
}

body.messagesPage table#buttons {
  width: 100%;
  padding: 0;
  margin-bottom: 1em;
}

body.messagesPage table#buttons td#left {
  text-align: left;
}

body.messagesPage table#buttons td#right {
  text-align: right;
}

body.messagesPage img.critical {
  padding-left: .25em;
}

body.messagesPage .requiresJS {
  display: inline;
}

body.messagesPage .unavailable,
body.messagesPage .no_messages {
  padding: 1em 0;
  margin-bottom: .25em;
  color: #676767;
  border-bottom: thin solid #3366CC;
}

body.messagesPage table#messageHeaderFields {
  margin-top: 1em;
  padding-bottom: .5em;
}

body.messagesPage table#messageHeaderFields td {
  vertical-align: top;
}

body.messagesPage table#messageHeaderFields td.label {
  width: 1%;
  text-align: right;
  color: #676767;
  padding-right: .5em;
}

body.messagesPage table#messageHeaderFields td.subject {
  font-weight: bold;
}

body.messagesPage #messageBody {
  border-top: 1px solid #ccf;
  border-bottom: 1px solid #3366CC;
  padding: .5em 0 1em 1em;
}

body.messagesPage #messageHeader,
body.messagesPage table#messageHeaderFields,
body.messagesPage #messageBody,
body.messagesPage #messageFooter {
  width: 600px;
}

body.messagesPage #messageBody p {
  margin: .5em 0;
}

body.messagesPage #messageNav {
  float: right;
  color: #aaa;
}

body.messagesPage #messageNav #messageRange {
  color: black;
}

.highlighted_content {
  margin-bottom: 1em;
  padding: 0.5em;
  background: url("../../images/yellowgradback.png") repeat-x #ffffd1;;
  border: 1px solid #e7e7e7;
  clear: both;
}

.highlighted_content .start_date {
  background: transparent;
  display: block;
  vertical-align: top;
  padding-right: 1em;
}

.highlighted_content .dated_content {
  background: transparent;
  display: block;
}

#pageStatusMessage {
  margin: 0.5em 0 0.5em 0;
}

/* CSS replacement for text vertical separator  */
.vert {
  display: inline;
  visibility: visible;
  _width: 0.5em;
  _height: 1.1em;
  _overflow: hidden;
  _border-width: 0 1px 0 0;
  _border-style: solid;
  _border-color: #444;
  _margin: 0 0.5em 0 0;
}

.vert:after {
  color: #444;
  font-size: 1.1em;
  content: "|";
}

/* Makes content visible for screen readers, but not for general browsing.  */
.acc-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: inline;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

body.crawlStatsPage #crawlrate td {
  padding: 0;
}
body.crawlStatsPage #crawlrate .label {
  padding-right: 1em;
}

body.crawlStatsPage #crawlrate .title {
  font-weight: bold;
  padding-bottom: .1em;
}

/* General purpose float class.  Don't add anything else to this */
.floatRight {
  float: right;
}

.change_address_background {
  padding: 10px;
  border: 1px solid #c2ccc5;
  background-color: #E0EBFF;
}

.withdraw_link {
  float: right;
}

.sidebar,
.sidebar a, .sidebar a:visited,
.sidebar p,
.sidebar .sectionlink,
.sidebar .sectionlink a,
.sidebar p.indent,
.sidebar .sectionlink p.active_indent,
.sidebar .sectionlink p.inactive_indent,
.sidebar p.active_indent,
.sidebar p.inactive_indent,
.sidebar span.disabled {
  
  margin: 0;
  padding: 0;
  color: #000;
  border-width: 0;
  font-size: 100%;
  font-weight: normal;
}

.sidebar {
  width: 11.5em;
  min-width: 11.5em;
  vertical-align: top;
  padding-right: 1em;
  background-color: #fff;
}

.sidebar a, .sidebar a:visited {
  text-decoration: none;
}

#toprow .sidebar a {
  color: #00c;
  text-decoration: underline;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .sectionlink {
  margin: 2px 0;
}

.sidebar .sectionlink p.active_indent,
.sidebar .sectionlink p.inactive_indent {
  padding: .2em 0 .2em 0.5em;
}

.sidebar .sectionlink p.active_indent {
  background-color: #3366CC;
  border: thin solid #3366CC;
}

.sidebar p.active_indent a {
  color: #FFF;
}


.sidebar .sectionlink p.inactive_indent {
  background-color: #D5DFF3;
  border: thin solid #BFC7D9;
}

.sidebar p.active_indent,
.sidebar p.inactive_indent {
  margin-left: 1em;
  padding: .3em 0 .3em 0.5em;
  font-size: 83%;
}

.sidebar p.active_indent {
  background-color: #3366CC;
  border-bottom: thin solid #3366CC;
}

.sidebar p.inactive_indent {
  background-color: white;
  border-bottom: thin dotted #BFC7D9;
}

#toprow p.inactive_indent {
  margin: 0;
  text-align:left;
  border-width: 0;
}

.sidebar span.disabled {
  color: #666;
}

.sidebar a.no_link:link, .sidebar a.no_link:visited {
  text-decoration: none;
  background-color: #3366CC;
  color: #fff;
  border-bottom: thin solid #3366CC;
}

#headerBar {
  width: 100%;
  padding: .35em 0 .35em .35em;
  background-color: #D5DFF3;
  border-top: thin solid #3366CC;
  margin-bottom: 1em;
}

#headerBar p,
#headerBar a {
  display: inline;
  color: #000;
}

#headerBar a {
  color: #00c;
}

#headerBar span {
  font-weight: bold;
}

#headerBar td {
  margin: auto 0px;
  vertical-align: middle;
}

table.basic {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #bfc7d9;
}

table.basic td  {
  border-bottom: 1px solid #bfc7d9;
  padding: 0.25em;
}

table.basic th {
  background-color: #d5dff3;
  color: #000;
  padding: 0.25em;
  text-align: left;
  font-weight: bold;
}

/*
 * Comprehensive table styles, used for tables that have headers, footers,
 * actions, and grid-data.
 *
 * A table consists of the following:
 *
 * Header:    Area above the data, that may contain actions and any optional
 *            extra controls or content.
 *
 * Footer:    Area below the data, and may also contain actions and optional
 *            extra controls or content.
 *
 * Actions:   Area designated for direct manipulation of the table
 *            (i.e. pagination)
 *
 * GridData:  The actual tabular content.
 */

.tabular {
  clear: both;
}

.tabular .actions {
  text-align: right;
  padding: 0.2em;
  height: 1.4em;
}

.tabular .actions .extra {
  float: left;
}

.tabular .actions .pager {
  float: right;
}

.tabular .actions .pager .value {
  font-weight: bold;
}

.tabular .griddata {
  clear: both;
}

.tabular .griddata .nodata {
  padding: 2em;
  text-align: center;
  color: #333;
}

.tabular .griddata table {
  border-collapse: collapse;
  width: 100%;
  border-width: 1px;
  border-color: #bfc7d9;
  border-style: solid;
}

.tabular .griddata table td {
  padding: 0.2em;
  border-width: 0px 0px 1px 0px;
  border-color: #cfd7e9;
  border-style: solid;
}

.tabular .griddata .odd td {
  background-color: #f9f9f9;
}

.tabular th {
  font-weight: normal;
  font-size: 83%;
  text-align: left;
  padding: 0.2em;
  background-color: #d5dff3;
  border-bottom: 1px solid #bfc7d9;
}

.tabular th.sorted.ascending a {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("../../images/sortup.gif");
  padding-right: 14px;
}

.tabular th.sorted.descending a {
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("../../images/sortdown.gif");
  padding-right: 14px;
}

.tabular .footer {
  padding-top: 0.3em;
}

.tabular .footer .extra {
  float: left;
}

.tabular .footer .pager {
  float: right;
}

.tabular .footer .pager input {
  text-align: right;
}

/* filterpanel container */

.filterPanel {
  border: 2px solid #c5d4f0;
  padding: 0;
}

.filterpanel .filter {
  font-size: 1em;
  padding: 0.25em;
  margin: 0;
  background-color: #c5d4f0;
  font-weight: normal;
  border-bottom: 1px solid #BFC7D9;
}

.filterpanel .filter h3 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.filterpanel .bodyContent {
  font-size: 1em;
  border-top: #bfc7d9;
  background-color: #e8eef7;
}

/* filterpanel container + table */

.filterpanel .tabular .griddata table {
  border: 0;
  background: #fff;
}

.filterpanel .tabular .actions {
  background-color: #e8eef7;
}

.filterpanel .tabular th {
  background-color: #e8eef7;
  border-width: 0px 0 1px 0;
}

.filterpanel .tabular .footer {
  background: #e8eef7;
  padding: 0.25em;
}