body { 
      font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
       /* font-family: Century; */
       background:  #F1F1F8;
       margin: 0px 10px 0px 10px;
       font-size:14px;
       line-height: 18px;
       color: #333; 
       text-align: justify;
    }

.topsection{
	 padding: 0px 0px 0px 0px; 
	 font-size:100%;  
	 }
    


.section{
	  padding: 10px 3px 2px 5px;
	  margin-top: 6px;
	  background-color: white; 
	  box-shadow: 0px 0px 1px #fffefe; 
	  border-left-style:solid; 
	  border-left-width:10px; 
	  border-left-color:#D8D8D8; 
	  border-radius: 3px; 
    }

.SectionTitle {
    font-size:170%;
    font-weight:bold;
    color: #333;
    margin-block-start: 0.20em;
    margin-block-end: 0.20em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
 

.SectionItem {
    margin-bottom:8px;
     }

.SectionItemMargin{
    margin-left: 10px;
    }

.SectionItemMarginShort{
    margin-bottom:4px;
     }
    
.SectionYear{
      font-size: 120%;
      font-weight: bold;
      padding-bottom:0px;
      padding-top:0px;
     }
     
.BarItemHide {color: #CCCCCC}



#address {
      font-size: 150%;
}

#null {
      font-size: 20%;
}
    
    
#banner {
      padding: 0px;
      width: 100%;
      border-bottom:1px solid #000;
    }

#left {
      width: 20%;
      float: left;
    }



#content #floater {
      float: left;
      padding: 0px 20px 10px 0px;
    }

#content #menu {
      float: right;
      border: 2px solid #899;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      color: #899;
      background: #ffffff;
	  font-size: 80%;
	  font-family: Arial, Helvetica, sans-serif;
    }

#content #menu ul {
     list-style-position: outside;
    }

#content h1, h2, h3, h4 {
      color: #899;
   }

#content th {
    text-align: left;
    }

#footer {
      font-size: x-small;
      color: #aaa;
      float: right;
      padding-left: 20px;
      padding-right: 20px;
    }

ol{
  padding-inline-start: 25px;
}

ul{
  padding-inline-start: 30px;
  padding-bottom: 0px;
   padding-top: 0px;
}

a {
	text-decoration:none;
	color:#8A0000;
	font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif; 
 /* font-family: Arial, Helvetica, sans-serif; 
    font-family: Century;*/
	font-style: normal;
	line-height: normal;
	font-variant: normal;
    }


#headertext a:hover {
color:#b92f2f;
text-decoration: underline;
}


 a:hover {
text-decoration: underline;
}

#navigation {
      font-size: 100%;
	  border-top:0px solid #000;
      border-right:0px solid #000;
	  border-left:0px solid #000;
	  border-bottom:0px solid #000;
      padding: 0px 0px 0px 35px;
      background:#FFF;
/*	  overflow:hidden; */
/*   min-width:390px; */
    }
    
#navigation a {
  color: #8a0000;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0px;
  line-height: 40px;
  padding: 15px 11px;
  white-space: nowrap;
}

#navigation a:hover {
    color:  #b92f2f ;
	background-color:  #f7e4e1 ;
	text-decoration: none;
}
#navigation a.active {
  background-color: #8a0000;
  color: #f5f5f5;
  cursor: default;
  text-decoration: none;
}

.Bar {color: #999999;
	font-weight: bold;
}

#ban {
	background:#f5f5f5;
     border: 1px solid #dedede;
     padding-right: 5px;

}
#ban a{
color:#8A0000;

}


img {
      border:0
    }

dt {
      font-weight: bold;
    }

#minutes {
      font-family: sans-serif;
    }

.boxed {
      background: #eee;
      padding-left: 40px;
      border: 1px solid #aaa;
    }

.framed {
      padding-left: 10px;
      background: #eee;
      border: 1px solid #aaa;
    }

.stripe {
      background: #eee;
    }

.done {
      color: #0a0;
      font-weight: bold;
    }

.draft {
      color: #f90;
      font-weight: bold;
    }

.now {
      color: #00c;
      border: 1px solid #000;
      background: #ddd;
      font-weight: bold;
    }

.hardright {
     text-align: right;
    }

p .initcap {
      font-size: large;
    }

.bannerheading {
      font-weight: bold;
      font-size: 400%;
}

.bannersubheading {
      font-weight: bold;
      font-size: 150%;
      padding-left:30px;
      font-style:italic;
      color: #899;
}

.cert {
	 border:0;
	 width:88px;
	 vertical-align:middle
}

.code {
      background: #dde;
      margin-left: 20px;
      padding-left: 10px;
      width: auto;
      border: 1px solid #aaa;
    }

.ArticleTitle{
	 /* color: #663333;*/
    color: #8a0000;
      font-weight: bold;
}

.ToolTitle{
      padding-bottom: 3px;
      color: #8a0000;
      font-weight: bold;
      font-size: 130%;
}

.Talk{
      font-weight: bold;
}

.talk-role {
  font-style: italic;
  border-bottom: 1px solid #bababa30;
  border-top: 1px solid #bababa30;
}

.Article-Menu{
	  font-size:90%;
	  padding-top: 6px;
	  padding-bottom: 10px;
}

.ArticleMenueItem{
  margin-left:25px;
}

.ArticleDivision{
   padding-bottom:16px;
}
.ReportDivision{
   padding-bottom:18px;
}
.TalkDivision{
   padding-bottom:17px;
}

.ToolDivision{
   padding-bottom:20px;
}

.StudentDivision{
   padding-bottom:5px;
}

.CourseDivision{
   padding-bottom:5px;
}

.toggle{}

.style17 {
	font-size: 10px;
	color: #0000CC;
}

.abstract {
    background: #FFFFDF;
    padding-left: 15px;
	  padding-right: 10px;
	  padding-top: 5px;
	  padding-bottom:5px;
	  font-size:16px;
	  text-align:justify;
	  width: auto;
	  border:  1px solid #aaa;
	  font-family:Arial, Helvetica, sans-serif;
    }


.BibTex {
      background: #EDF1F1;
      padding-left: 15px;
	  padding-right: 10px;
	  padding-top: 5px;;
	  padding-bottom:5px;
	  font-size:12px;
	  text-align:justify;
	  width: auto;
	  font-family: "Courier New", Courier, monospace;
	  border:  1px solid #aaa;
    }

.pub {
      background: #edd;
      margin-left: 20px;
      margin-bottom: 5px;
      padding-left: 10px;
      width: auto;
      border: 1px solid #aaa;
    }

.cross {
      background: #cff;
      margin-left: 20px;
      margin-bottom: 5px;
      padding-left: 10px;
      width: auto;
      border: 1px solid #aaa;
    }

.tutorial {
      background: #cfc;
      margin-left: 20px;
      margin-bottom: 5px;
      padding-left: 10px;
      width: auto;
      border: 1px solid #aaa;
    }

	
	
	
@media print{
	body{
		background: #ffffff;
	}
}