SectionTitle {

	font-size: 110%;

	line-height: 100%;

	font-weight: bold;

    }
.body { font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif, Times; 
       margin: 0px 0px 0px 0px;
}

a {
	text-decoration:none;
	color:#8A0000;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
    }

#address {
      font-size: 60%; 
}	
	
.Sidebar{
  width: 11.5em;
  min-width: 11.5em;
  vertical-align: top;
  padding-right: 1em;
  background-color: #fff;
}

.MenuItem{
  font-weight: bold;
  margin: 5px 10px;
  background-color: #D5DFF3;
  border: thin solid #BFC7D9;
}
.inactive_indent {
  background-color: #D5DFF3;
  border: thin solid #BFC7D9;
}
.style1 {
	font-size: 9px;
	color: #FFFFFF;
}
.style2 {font-size: 16px}
.MyName {font-size: 26px;
  font-weight: bold;
}
.MyTitle {font-size: 12px}

img { border:0  }
